
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  text-align : center;
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

.block
{
  position : absolute;
  left : 425px;
  top  : 100px;
  background-color : black;
  outline: gray solid 1px;
  height : 20px;
  width  : 20px;
}

.score_box
{
  position : absolute;
  left : 410px;
  top  : 520px;
  background-color : #F8F8F8;
  heigh : 200px;
  width : 200px;
  font-size : 16pt;
  text-align : left;
  margin : 15px;
  padding: 10px;
  color  : black;
  outline: gray double 5px;
}

.board_line
{
  position : absolute;
  left  : 425px;
  top   : 100px;
  width : 220px;
  height: 420px;
  outline: gray double 5px;
}

.end_box
{
  position : absolute;
  font-size: 36pt;
  text: Game Over QQ;
  padding : 10px;
  background-color: #8E8AFF;
  text-align : center;
  left : 0px;
  top  : 0px;
  
}
